<template>
  <div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center space-y-8 px-6">
        <form @submit="register" method="post" class="bg-white w-full max-w-md mx-auto space-y-6 shadow rounded-lg p-8 sm:p-10">
            <div class="space-y-1">
                <label for="" class="text-sm leading-5 font-medium">Fullname</label> 
                <input v-model="form.fullname" type="text" placeholder="Fullname" autocomplete="fullname" required="required" class="block border border-gray-300 focus:none form-input leading-5 p-2 rounded text-sm w-full">
            </div> 
            <div class="space-y-1">
                <label for="" class="text-sm leading-5 font-medium">Email Address</label> 
                <input v-model="form.email" type="email" placeholder="Email Address" autocomplete="email" required="required" class="block border border-gray-300 focus:none form-input leading-5 p-2 rounded text-sm w-full">
            </div> 
            <div class="space-y-1">
                <label for="" class="text-sm leading-5 font-medium">Password</label> 
                <input v-model="form.password" type="password" placeholder="Password" autocomplete="current-password" required="required" class="block border border-gray-300 focus:none form-input leading-5 p-2 rounded text-sm w-full">
            </div> 
            <div class="space-y-1">
                <label for="" class="text-sm leading-5 font-medium">Confirm Password</label> 
                <input v-model="form.password_confirmation" type="password" placeholder="Confirm Password" autocomplete="confirm-password" required="required" class="block border border-gray-300 focus:none form-input leading-5 p-2 rounded text-sm w-full">
            </div> 
            <button type="submit" class="px-3 py-2 font-medium block w-full rounded-lg bg-green-500 text-white text-sm leading-5 hover:bg-teal-600 focus:outline-none focus:shadow-outline-teal">
                Log In
            </button> 
            <div class="relative flex items-center justify-center">
                <div class="absolute h-px bg-gray-200 inset-x-0">
                </div> 
                <p class="relative text-sm leading-5 text-gray-500 bg-white px-4">Already registered?</p>
            </div> 
            <a href="https://www.bookvalleyph.com/register" class="inline-flex items-center justify-center px-3 py-2 font-medium w-full rounded-lg border text-sm leading-5 hover:bg-gray-100 focus:outline-none focus:shadow-outline-teal">
                Login
            </a>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form :  {
                fullname: null,
                email: null,
                password: null,
                password_confirmation: null,
            }
        }
    },
    methods: {
        register(e) {
            e.preventDefault();
            console.log(this.form)
        }
    }

}
</script>

<style>

</style>